.my_page-header{
    height: 70px;
    z-index: 5;
}

.my_page-main{
    padding-top: 70px;
}

.my_main-content{
    padding-left: 68px
}

.my_side-bar{
    width: 68px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    color: #FFFFFF;
    height: calc(100vh - 70px);
}

.my_navbar-logo{
    height: 50px;
}

.my_class-icon{
    width: 25px;
}

.fa-bell{
    color: #ff8c00;
}

@media screen and (min-width:992px) {
    .my_side-bar{
        width: 150px;
    }

    .my_main-content{
        padding-left: 150px
    }
}